doctype html
html(lang='en' class='full-height')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title

    block css
      link(rel='stylesheet', href='/css/todo.css')

    block js
      script(style='text/javascript', src='/js/todo.js')
      script(style='text/javascript', src='/socket.io/socket.io.js')
      script(style='text/javascript')
        | window.config = !{ JSON.stringify(config) };
      //- script(src='http://localhost:35729/livereload.js')

  body(class='full-height')
    block content